//<Hover> =====================================
.hover {
	outline: transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: all $hoverTime ease-in;

	@include lg-min {
		&:focus {
			border-bottom: 1px solid $conceptColor;
		}

		&:hover {
			border-bottom: 1px solid transparent;
			color: $conceptColor;
		}

		&:active {
			border-bottom: 1px solid $conceptColor;
			color: $conceptColor;
		}
	}
}
// <ОБЩИЕ БЛОКИ> ==============================
.title {
	font-size: 24px;

	@include xl {
	}

	@include lg {
		text-align: center;
	}

	@include md {
		font-size: 20px;
	}

	@include sm {
		font-size: 18px;
	}
}

// ==========================================
.btn {
	font-family: Roboto;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	font-size: 24px;
	padding: 9px 20px;
	outline: none;
	color: inherit;
	letter-spacing: 0.6px;
	background-color: transparent;
	transition: all $hoverTime ease-in;

	@include lg-min {
		&:focus {
			background-color: $background-color;
		}

		&:hover {
			color: $conceptColor;
			border-color: $white;
			background-color: $white;
		}

		&:active {
			transform: translate(2px, 2px);
		}
	}

	&--white {
		border-color: $white;
	}

	&--black {
		color: $mainColor;
		border-color: $mainColor;
	}
}

// ===================================
.social-media {
	flex: 0 0 170px;
	display: flex;
	justify-content: space-between;

	// .social-media__link
	&__link {
		outline: none;

		@include lg-min {
			&:focus .social-media__icon {
				fill: $mainColor-20;
			}

			&:hover .social-media__icon {
				fill: $mainColor;
			}

			&:active .social-media__icon {
				transform: translate(2px, 2px);
			}
		}
	}

	// .social-media__icon
	&__icon {
		width: 20px;
		height: 20px;
		fill: $white;
		cursor: pointer;
		transition: all $hoverTime ease-in;
	}
}
// ==============================================
.main-slider {
	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__slide {
		height: 100vh;
	}
}
