.header {
	position: fixed;
	z-index: 50;
	width: 100%;
	min-height: 75px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainColor;

		@include lg {
			z-index: 2;
		}
	}

	@include sm {
		min-height: 100px;
	}

	// .header__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 75px;

		@include sm {
			min-height: 100px;
			align-items: flex-end;
			padding: 0 0 20px 0;
		}
	}

	// .header__logo
	&__logo {
		font-family: Roboto, sans-serif;
		font-weight: 500;
		font-size: 18px;
		display: inline-block;
		text-transform: uppercase;

		@include sm {
			font-size: 20px;
		}
	}
}

.logo {
	position: relative;
	z-index: 5;
	min-height: 100%;
	transition: all $doubleHoverTime ease;

	&::before {
		content: "";
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__name {
		position: relative;
		z-index: 1;
		color: $white;
		transition: all $doubleHoverTime ease;
		border-bottom: 1px solid transparent;

		&--first {
			display: block;
			color: $conceptColor;
		}
		&--second {
			display: block;
		}
	}

	@include lg-min {
		&:hover {
			& .logo__name {
				color: $conceptColor;
			}

			& .logo__name--first {
				color: $white;
			}
		}

		&:active {
		}

		&:focus {
			outline: none;
			& .logo__name--second {
				border-bottom: 1px solid $conceptColor;
			}
		}
	}
}

//menu
.menu {
	margin: 0 20px 0 0;

	@include lg {
		margin: 0;
	}

	@include md {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// .menu__body
	&__body {
		font-family: Montserrat, sans-serif;
		position: relative;
		z-index: 1;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all $doubleHoverTime ease-out;

		@include lg {
			position: fixed;
			top: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			height: 100%;
			overflow: auto;
			transform: translate(-100%, 0);
			background-color: $mainColor;
			padding: 150px 20px 130px;
		}

		&.active {
			transform: translate(0, 0);
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include lg {
			flex-direction: column;
			align-items: start;
			margin: 0 0 50px;
		}
	}

	// .menu__item
	&__item {
		flex: 0 0 auto;

		&:not(:last-child) {
			margin: 0 80px 0 0;
		}

		@include lg {
			&:not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
	}

	&__link,
	&__phone {
		font-weight: 300;
		padding: 0 0 3px 0;
		color: $white;
		font-size: 16px;
		letter-spacing: 1.5px;

		@include lg {
			font-size: 32px;
		}
	}

	// .menu__phone
	&__phone {
		position: relative;
		z-index: 1;
		order: 2;
		flex: 0 0 auto;
		display: inline-block;
		letter-spacing: 3px;

		@include sm {
			font-size: 26px;
		}
	}
}
