.portfolio {
	min-height: 100%;
	padding: 60px 0 50px;
	background-color: $mainColor;

	// .portfolio__wrapper
	&__wrapper {
		width: 100%;
		color: $white;
	}
}

.slider-portfolio {
	position: relative;
	overflow: hidden;

	// .slider-portfolio__arrow
	&__arrow {
		position: absolute;
		z-index: 5;
		top: 50px;
		left: 50px;
		width: 40px;
		height: 40px;
		outline: none;
		background-color: $conceptColor;
		border: 1px solid transparent;
		border-radius: 100%;
		transition: all $hoverTime ease;

		&--next {
			transform: translateX(120%);
		}

		@include xl {
			top: 0;
			left: 30px;
		}

		@include lg {
			display: none;
		}

		@include lg-min {
			&:focus {
				background-color: $white;
				& .slider-portfolio__icon {
					fill: $mainColor;
				}
			}

			&:hover {
				background-color: $white;
				& .slider-portfolio__icon {
					fill: $conceptColor;
				}
			}
		}
	}

	.swiper-button-disabled {
		background-color: $conceptColor-disabled;
		cursor: default;
		&:hover {
			& .slider-portfolio__icon {
				fill: $mainColor;
			}
		}
	}

	// .slider-portfolio__icon
	&__icon {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 27px;
		height: 5px;
		fill: $mainColor;
		transition: all $hoverTime ease;
	}

	// .slider-portfolio__wrapper
	&__wrapper {
		display: flex;
	}

	// .slider-portfolio__slide
	&__slide {
		flex: 0 0 100%;
		min-height: 550px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include xl {
			flex-direction: column;
		}

		@include md {
			min-height: auto;
		}
	}

	// .slider-portfolio__link
	&__link {
		display: block;
		max-width: 760px;
		outline: none;
		border: 2px solid transparent;
		border: 2px solid $white;
		border-top-left-radius: 25px;
		border-bottom-right-radius: 25px;
		transition: all $hoverTime ease-in;

		@include lg {
			margin-left: 40px;
		}

		@include lg-min {
			&:focus {
				background-color: $mainColor-01;
			}

			&:hover {
				border-color: $conceptColor;
				background-color: $mainColor;
			}

			&:hover .slider-portfolio__img {
				box-shadow: 4px 4px 10px 10px $black-25;
			}
		}

		@include md {
			max-width: 430px;
			margin-left: 11px;
		}

		@include sm {
			max-width: 250px;
		}
	}

	// .slider-portfolio__img
	&__img {
		min-height: 460px;
		object-fit: cover;
		transform: translate(-25px, -25px);
		border-top-left-radius: 25px;
		border-bottom-right-radius: 25px;
		transition: all $hoverTime ease-in;

		@include md {
			min-height: 260px;
		}

		@include sm {
			transform: translate(-10px, -10px);
			min-height: 140px;
		}
	}

	// .slider-portfolio__description
	&__description {
		max-width: 300px;
		padding: 10px 20px;
		border: 2px solid $conceptColor;
		border-top-left-radius: 25px;
		border-bottom-right-radius: 25px;
		font-size: 16px;

		@include xl {
			max-width: 100%;
			margin: 0 150px 50px;
			border: 2px solid transparent;
		}

		@include lg {
			margin: 0 100px 50px;
		}

		@include md {
			margin: 0 auto 30px;
			padding: 10px;
		}
	}

	// .slider-portfolio__pagination
	&__pagination {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateY(-50%);
		background-color: #fff;
	}
}
