// <ПЕРЕМЕННЫЕ>==================================
$white: #fff;

$background-color: #e5e5e5;
$background-example: #f2f2f2;

$mainColor: #092930;
$mainColor-01: rgba(9, 41, 48, 0.01);
$mainColor-10: rgba(9, 41, 48, 0.1);
$mainColor-15: rgba(9, 41, 48, 0.15);
$mainColor-20: rgba(9, 41, 48, 0.2);
$mainColor-40: rgba(9, 41, 48, 0.4);
$mainColor-50: rgba(9, 41, 48, 0.5);
$mainColor-80: rgba(9, 41, 48, 0.8);

$brandColor: #1f7284;

$lightBrand: #45948e;

$conceptColor: #fd4e16;

$black: #000;
$black-25: rgba(0, 0, 0, 0.25);

$hoverTime: 0.4s;
$doubleHoverTime: 0.8s;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1310px;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$mainFontSize: 18px;
